body{
    padding-top: 40px;
}

li{
    list-style: none;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

.uploadFont{
   font-family: "Times New Roman", Times, serif;
    
    
}


.tag{
    text-decoration: none;
    color: white;
}

.tag:hover{
    text-decoration: none;
    color: white;
}

.ent{
    text-decoration: none;
    color:white;
}

.ent:hover{
    text-decoration: none;
    color:white;
}



.title{
    text-decoration: none;
}

.title:hover{
    text-decoration: none;
}

.title:active{
    text-decoration: none;
}


.mainc{
    background-color: #a2b9bc
}

/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (min-width: 991px) {
     div.adjust{
        font-size: 2em;
    }
    
    .commentFont{
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    }
    
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;} 
    }

@media screen and (max-width: 990px) {
     div.adjust{
        font-size: 1em;
    }
    
    .commentFont{
        font-size: 1em;
    }
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;} 
    }





 /* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
} 

